<%= simple_form_for([@post, @post.comments.build]) do |f| %>
   
     
  <div class="field">
  	<table>
    	<tr><%= f.label :body %></tr>
        <tr><td><%= f.text_area :body, placeholder: 'Add a comment',:autofocus => true %></td><td>&nbsp</td>
            <td><% @comment.errors.full_messages.each do |msg| %>
                <i><%= msg %></i>
               <% end %>
           </td>
       </tr>
    </table>
  </div>
  
  <%= f.hidden_field :email, :value => current_user.email %>
  <div class="actions">
    <strong><%= f.submit "create comment",:class => "btn btn-success" %></strong>
  </div>
<% end %>
 