<div class="border-form-div-content">
<%= simple_form_for(@post) do |f| %>
 
  
    <%= f.label :title %>
    <%= f.text_field :title %><%= f.error :title, id: 'title_error' %>
     <%= f.hint 'No special characters, please!' %>
  
    <%= f.label :content %>
    <%= f.text_area :content %><%= f.error :content, id: 'content_error' %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div>
    <% if action =="create" %>
    <%= f.submit "Create Post", :class => "btn btn-success" %>
    <% else %>
     <%= f.submit "Update Post", :class => "btn btn-success" %>
    <% end %>
  </div>
<% end %>
