
<div class ="border-form-div-post">
<p id="notice"><%= notice %></p>

<strong>POST</strong>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
</div>
<h4><i>Comment:</i></h4>

<%= render  partial: "comments/form",locals: {comment: @comment } %>

<h4><i>Comments</i></h4>
<%= render @post.comments %>

